<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link href='../shopping-cart/cart.css' rel="stylesheet" type="text/css"/>
</head>
<div>
<h3>Your cart is empty.</h3>
</div>
<div>
<center>
    <table width=\"90%\"><tbody><tr><td><b>Del</b></td><td><b>Product name</b></td><td><b>Unit quantity</b></td><td><b>Unit price</b></td><td><b>Required quantity</b></td><td><b>Subtotal</b></td></tr>

        <td colspan=\"3\" style="font-weight: bold">Number of products</td>
        <td align=\"left\" colspan=\"3\">0</td>
    </tr><tr>
        <td colspan=\"3\" style="font-weight: bold">Total</td>
        <td align=\"left\" colspan=\"3\">$0</td>
    </tr>
    </tbody>
    </table>

</center>
</div>
</body>
</html>