<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Categories</title>

    <style>

        .node {
            cursor: pointer;
        }

        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 3px;
        }

        .node text {
            font: 12px sans-serif;
        }

        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 2px;
        }

        /* Tooltip container */
        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
        }

        /* Tooltip text */
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;

            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }

    </style>

</head>

<body>

<!-- load the d3.js library -->
<script src="http://d3js.org/d3.v3.min.js"></script>

<script>

    var treeData = [
        {
            "name": "Categories",
            "parent": "null",
            "children": [
                {
                    "name": "Frozen food",
                    "parent": "Top Parent",
                    "children": [
                        {
                            "name": "Seafood",
                            "parent": "Level 2: A",
                            "children":[
                                {
                                    "name": "Fish fingers",
                                    "parent": "Level 3: A",
                                    "children":[
                                        {
                                            "name": "500 Grams",
                                            "parent": "Level 4: A"
                                        },
                                        {
                                            "name": "1000 Grams",
                                            "parent": "Level 4: B"
                                        },
                                    ]
                                },
                                {
                                    "name": "Shelled prawns",
                                    "parent": "Level 3: B"
                                },
                            ]
                        },
                        {
                            "name": "Milk products",
                            "parent": "Level 2: A",
                            "children":[
                                {
                                    "name": "Fish fingers",
                                    "parent": "Level 3: A",
                                    "children": [
                                        {
                                            "name": "1 Litre",
                                            "parent": "Level 4: A"
                                        },
                                        {
                                            "name": "2 Litre",
                                            "parent": "Level 4: B"
                                        },
                                    ]
                                }
                            ]
                        },
                        {
                            "name": "Others",
                            "parent": "Level 2: A",
                            "children":[
                                {
                                "name": "Hamburger Patties",
                                "parent": "Level 3: A"
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "Fresh food",
                    "parent": "Top Level",
                    "children": [
                        {
                            "name": "Cheddar cheese",
                            "parent": "Level 2: A",
                            "children":[
                                {
                                    "name": "500 Gram",
                                    "parent": "Level 3: A"
                                },
                                {
                                    "name": "1000 Gram",
                                    "parent": "Level 3: B"
                                }
                            ]
                        },
                        {
                            "name": "T'Bone steak",
                            "parent": "Level 2: B",
                        },
                        {
                            "name": "Navel Oranges",
                            "parent": "Level 2: C",
                        },
                        {
                            "name": "Bananas",
                            "parent": "Level 2: D",
                        },
                        {
                            "name": "Peaches",
                            "parent": "Level 2: E",
                        },
                        {
                            "name": "Grapes",
                            "parent": "Level 2: F",
                        },
                        {
                            "name": "Apples",
                            "parent": "Level 2: G",
                        },
                    ]
                },
                {
                        "name": "Beverages",
                    "parent": "Top Level",
                    "children": [
                        {
                            "name": "Earl Grey Tea Bags",
                            "parent": "Level 2: A",
                            "children": [
                                {
                                    "name": "Pack 25",
                                    "parent": "Level 3: A"
                                },
                                {
                                    "name": "Pack 100",
                                    "parent": "Level 3: B"
                                },
                                {
                                    "name": "Pack 200",
                                    "parent": "Level 3: C"
                                }
                            ]
                        },
                        {
                            "name": "Instant Coffee",
                            "parent": "Level 2: B",
                            "children":[
                                {
                                    "name": "200 Gram",
                                    "parent": "Level 3: A"
                                },
                                {
                                    "name": "500 Gram",
                                    "parent": "Level 3: B"
                                }
                                ]
                        },
                        {
                            "name": "Chocolate Bar",
                            "parent": "Level 2: C"
                        }
                ]
                }
            ]
        }
    ];


    // ************** Generate the tree diagram	 *****************
    var margin = {top: 20, right: 120, bottom: 20, left: 120},
        width = 960 - margin.right - margin.left,
        height = 500 - margin.top - margin.bottom;

    var i = 0,
        duration = 750,
        root;

    var tree = d3.layout.tree()
        .size([height, width]);

    var diagonal = d3.svg.diagonal()
        .projection(function(d) { return [d.y, d.x]; });

    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.right + margin.left)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    root = treeData[0];
    root.x0 = height / 2;
    root.y0 = 0;

    // update(root);

    d3.select(self.frameElement).style("height", "500px");
    this.collapseToSecondLevel();

    function collapseToSecondLevel(){
        root.children.forEach(collapse);
        // collapse(root);
        update(root);
    }

    function collapse(d) {
        if (d.children) {
            d._children = d.children;
            d._children.forEach(collapse);
            d.children = null;
        }
    }

    function update(source) {

        // Compute the new tree layout.
        var nodes = tree.nodes(root).reverse(),
            links = tree.links(nodes);

        // Normalize for fixed-depth.
        nodes.forEach(function(d) { d.y = d.depth * 180; });

        // Update the nodes…
        var node = svg.selectAll("g.node")
            .data(nodes, function(d) { return d.id || (d.id = ++i); });

        // Enter any new nodes at the parent's previous position.
        var nodeEnter = node.enter().append("g")
            .attr("class", "node")
            .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
            .on("mouseover", click)	// expand node
            .on("mouseout", function() {
                // Remove the info text on mouse out.
                d3.select(this)
            });
        ;

        nodeEnter.append("circle")
            .attr("r", 1e-6)
            .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; })
            .append("a")
            .attr("xlink:href", function (d) { return "http://www.example.com/flare/" + d.id; }) // ALL nodes are clickable
        // add  click func for opening the link

        nodeEnter.append("text")
            .attr("x", function(d) { return d.children || d._children ? -13 : 13; })
            .attr("dy", ".35em")
            .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
            .text(function(d) { return d.name; })
            .style("fill-opacity", 1e-6);

        // Transition nodes to their new position.
        var nodeUpdate = node.transition()
            .duration(duration)
            .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

        nodeUpdate.select("circle")
            .attr("r", 10)
            .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

        nodeUpdate.select("text")
            .style("fill-opacity", 1);

        // Transition exiting nodes to the parent's new position.
        var nodeExit = node.exit().transition()
            .duration(duration)
            .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
            .remove();

        nodeExit.select("circle")
            .attr("r", 1e-6);

        nodeExit.select("text")
            .style("fill-opacity", 1e-6);

        // Update the links…
        var link = svg.selectAll("path.link")
            .data(links, function(d) { return d.target.id; });

        // Enter any new links at the parent's previous position.
        link.enter().insert("path", "g")
            .attr("class", "link")
            .attr("d", function(d) {
                var o = {x: source.x0, y: source.y0};
                return diagonal({source: o, target: o});
            });

        // Transition links to their new position.
        link.transition()
            .duration(duration)
            .attr("d", diagonal);

        // Transition exiting nodes to the parent's new position.
        link.exit().transition()
            .duration(duration)
            .attr("d", function(d) {
                var o = {x: source.x, y: source.y};
                return diagonal({source: o, target: o});
            })
            .remove();

        // Stash the old positions for transition.
        nodes.forEach(function(d) {
            d.x0 = d.x;
            d.y0 = d.y;
        });
    }

    // Toggle children on click.
    function click(d) {
        if (d.children) {
            d._children = d.children;
            d.children = null;
        } else {
            d.children = d._children;
            d._children = null;
        }
        update(d);
    }

</script>
<div>
<a href="http://www-student.it.uts.edu.au/~xinyding/Grocery-Store/src/components/product-category/getProductDetail.php?product_id=1002" target="productDetailFrame">1002</a>
<a href="http://www-student.it.uts.edu.au/~xinyding/Grocery-Store/src/components/product-category/getProductDetail.php?product_id=2000" target="productDetailFrame">2000</a>
<a href="http://www-student.it.uts.edu.au/~xinyding/Grocery-Store/src/components/product-category/getProductDetail.php?product_id=2001" target="productDetailFrame">2001</a>
<a href="http://www-student.it.uts.edu.au/~xinyding/Grocery-Store/src/components/product-category/getProductDetail.php?product_id=2002" target="productDetailFrame">2002</a>
    <a href="http://www-student.it.uts.edu.au/~xinyding/Grocery-Store/src/components/product-category/getProductDetail.php?product_id=2003" target="productDetailFrame">2003</a>

</div>
<p id="date" style="color: grey">Last Updated: 19:48 10 May 2018</p>

</body>
</html>