<html>
<head>
    <title>1category</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript">
        function MM_showHideLayers() {
            var i, v, obj, args = MM_showHideLayers.arguments;
            for (i = 0; i < (args.length - 1); i += 2)
                with (document) if (getElementById && ((obj = getElementById(args[i])) != null)) {
                    v = args[i + 1];
                    if (obj.style) {
                        obj = obj.style;
                        if (v == 'show') v = 'visible';
                        else {
                            if (v == 'hide') v = 'hidden';
                        }
                    }
                    obj.visibility = v;
                }
        }
    </script>
    <style type="text/css">
        *{
            margin: 0px 0px;
            padding:0px 0px;
        }
        #bg{
            position: absolute;
            top: 342px;
            z-index: 11;
        }
        #frozenfood {
            position: absolute;
            /*left: -29px;*/
            top: 342px;
            z-index: 11;
            visibility: hidden;
        }
        #freshfood {
            position: absolute;
            /*left: -6px;*/
            top: 342px;
            z-index: 11;
            visibility: hidden;
        }
        #beverages {
            position: absolute;
            left: 0px;
            top: 342px;
            z-index: 11;
            visibility: hidden;
        }
        #homehealth {
            position: absolute;
            left: 0px;
            top: 342px;
            z-index: 11;
            visibility: hidden;
        }
        #petfood {
            position: absolute;
            left: 0px;
            top: 342px;
            z-index: 11;
            visibility: hidden;
        }
    </style>

</head>
<body style="background-color: #99CCFF;">

<h1 style="height: 50px">Welcome to our grocery store!</h1>
<!-- Save for Web Slices (1category.psd) -->
<div id="category">
    <table id="__01" width="700" height="292" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="5">
                <img src="../images/category_01.jpg" width="700" height="236" alt=""></td>
        </tr>
        <tr>
            <td>
                <img src="../images/category_02.jpg" width="148" height="56" alt="" onmouseover="MM_showHideLayers('frozenfood','show','freshfood','hide','homehealth','hide','petfood','hide','beverages','hide')"></td>
            <td>
                <img src="../images/category_03.jpg" width="138" height="56" alt="" onmouseover="MM_showHideLayers('freshfood','show','frozenfood','hide','homehealth','hide','petfood','hide','beverages','hide')"></td>
            <td>
                <img src="../images/category_04.jpg" width="139" height="56" alt="" onmouseover="MM_showHideLayers('beverages','show','frozenfood','hide','homehealth','hide','petfood','hide','freshfood','hide')"></td>
            <td>
                <img src="../images/category_05.jpg" width="138" height="56" alt="" onmouseover="MM_showHideLayers('homehealth','show','freshfood','hide','frozenfood','hide','petfood','hide','beverages','hide')"></td>
            <td>
                <img src="../images/category_06.jpg" width="137" height="56" alt="" onmouseover="MM_showHideLayers('petfood','show','freshfood','hide','frozenfood','hide','homehealth','hide','beverages','hide')"></td>
        </tr>
    </table>

</div>
<div id="bg">
    <img src="../images/background.jpg" width="700" height="415" alt="">
</div>
<div id="frozenfood">
    <table id="__02" width="701" height="415" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="8">
                <img src="../images/frozenfood_01.jpg" width="700" height="159" alt=""></td>
            <td>
                <img src="../images/space.gif" width="1" height="159" alt=""></td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="../product-category/getProductDetail.php?product_id=1002" target="productDetailFrame">
                    <img src="../images/frozenfood_02.jpg" width="159" height="55" alt=""></a></td>
            <td colspan="2" rowspan="3">
                <img src="../images/frozenfood_03.jpg" width="164" height="173" alt=""></td>
            <td colspan="2" rowspan="2">
                <a href="../product-category/getProductDetail.php?product_id=1003" target="productDetailFrame">
                    <img src="../images/frozenfood_04.jpg" width="141" height="56" alt=""></a></td>
            <td colspan="2" rowspan="3">
                <img src="../images/frozenfood_05.jpg" width="236" height="173" alt=""></td>
            <td>
                <img src="../images/space.gif" width="1" height="55" alt=""></td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2">
                <img src="../images/frozenfood_06.jpg" width="159" height="118" alt=""></td>
            <td>
                <img src="../images/space.gif" width="1" height="1" alt=""></td>
        </tr>
        <tr>
            <td colspan="2">
                <img src="../images/frozenfood_07.jpg" width="141" height="117" alt=""></td>
            <td>
                <img src="../images/space.gif" width="1" height="117" alt=""></td>
        </tr>
        <tr>
            <td>
                <img src="../images/frozenfood_08.jpg" width="124" height="82" alt=""></td>
            <td colspan="2">
                <a href="../product-category/getProductDetail.php?product_id=1000" target="productDetailFrame">
                    <img src="../images/frozenfood_09.jpg" width="125" height="82" alt=""></a></td>
            <td colspan="2">
                <a href="../product-category/getProductDetail.php?product_id=1001" target="productDetailFrame">
                    <img src="../images/frozenfood_10.jpg" width="144" height="82" alt=""></a></td>
            <td colspan="2">
                <a href="../product-category/getProductDetail.php?product_id=1004" target="productDetailFrame">
                    <img src="../images/frozenfood_11.jpg" width="152" height="82" alt=""></a></td>
            <td>
                <a href="../product-category/getProductDetail.php?product_id=1005" target="productDetailFrame">
                    <img src="../images/frozenfood_12.jpg" width="155" height="82" alt=""></a></td>
            <td>
                <img src="../images/space.gif" width="1" height="82" alt=""></td>
        </tr>
        <tr>
            <td>
                <img src="../images/space.gif" width="124" height="1" alt=""></td>
            <td>
                <img src="../images/space.gif" width="35" height="1" alt=""></td>
            <td>
                <img src="../images/space.gif" width="90" height="1" alt=""></td>
            <td>
                <img src="../images/space.gif" width="74" height="1" alt=""></td>
            <td>
                <img src="../images/space.gif" width="70" height="1" alt=""></td>
            <td>
                <img src="../images/space.gif" width="71" height="1" alt=""></td>
            <td>
                <img src="../images/space.gif" width="81" height="1" alt=""></td>
            <td>
                <img src="../images/space.gif" width="155" height="1" alt=""></td>
            <td></td>
        </tr>
    </table>
</div>
<div id="freshfood">
    <table id="__03" width="700" height="415" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="10">
                <img src="../images/freshfood_01.jpg" width="700" height="152" alt=""></td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="../product-category/getProductDetail.php?product_id=3002" target="productDetailFrame">
                    <img src="../images/freshfood_02.jpg" width="100" height="55" alt=""></a></td>
            <td colspan="2" rowspan="2">
                <img src="../images/freshfood_03.jpg" width="103" height="171" alt=""></td>
            <td colspan="2">
                <a href="../product-category/getProductDetail.php?product_id=3003" target="productDetailFrame">
                    <img src="../images/freshfood_04.jpg" width="100" height="55" alt=""></a></td>
            <td>
                <a href="../product-category/getProductDetail.php?product_id=3004" target="productDetailFrame">
                    <img src="../images/freshfood_05.jpg" width="100" height="55" alt=""></a></td>
            <td>
                <a href="../product-category/getProductDetail.php?product_id=3006" target="productDetailFrame">
                    <img src="../images/freshfood_06.jpg" width="99" height="55" alt=""></a></td>
            <td>
                <a href="../product-category/getProductDetail.php?product_id=3007" target="productDetailFrame">
                    <img src="../images/freshfood_07.jpg" width="100" height="55" alt=""></a></td>
            <td>
                <a href="../product-category/getProductDetail.php?product_id=3005" target="productDetailFrame">
                    <img src="../images/freshfood_08.jpg" width="98" height="55" alt=""></a></td>
        </tr>
        <tr>
            <td colspan="2">
                <img src="../images/freshfood_09.jpg" width="100" height="116" alt=""></td>
            <td colspan="6">
                <img src="../images/freshfood_10.jpg" width="497" height="116" alt=""></td>
        </tr>
        <tr>
            <td>
                <img src="../images/freshfood_11.jpg" width="51" height="91" alt=""></td>
            <td colspan="2">
                <a href="../product-category/getProductDetail.php?product_id=3000" target="productDetailFrame">
                    <img src="../images/freshfood_12.jpg" width="101" height="91" alt=""></a></td>
            <td colspan="2">
                <a href="../product-category/getProductDetail.php?product_id=3001" target="productDetailFrame">
                    <img src="../images/freshfood_13.jpg" width="95" height="91" alt=""></a></td>
            <td colspan="5">
                <img src="../images/freshfood_14.jpg" width="453" height="91" alt=""></td>
        </tr>
        <tr>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="51" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="49" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="52" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="51" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="44" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="56" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="100" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="99" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="100" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="98" height="1" alt=""></td>
        </tr>
    </table>
</div>
<div id="homehealth">
    <table id="__04"width="700" height="415"  border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="10">
                <img src="../images/homehealth_01.jpg" width="700" height="154" alt=""></td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="../product-category/getProductDetail.php?product_id=2002" target="productDetailFrame">
                    <img src="../images/homehealth_02.jpg" width="144" height="54" alt=""></a></td>
            <td colspan="2" rowspan="2">
                <img src="../images/homehealth_03.jpg" width="143" height="169" alt=""></td>
            <td colspan="2">
                <a href="../product-category/getProductDetail.php?product_id=2005" target="productDetailFrame">
                    <img src="../images/homehealth_04.jpg" width="114" height="54" alt=""></a></td>
            <td colspan="2" rowspan="2">
                <img src="../images/homehealth_05.jpg" width="143" height="169" alt=""></td>
            <td colspan="2">
                <a href="../product-category/getProductDetail.php?product_id=2006" target="productDetailFrame">
                    <img src="../images/homehealth_06.jpg" width="156" height="54" alt=""></a></td>
        </tr>
        <tr>
            <td colspan="2">
                <img src="../images/homehealth_07.jpg" width="144" height="115" alt=""></td>
            <td colspan="2">
                <img src="../images/homehealth_08.jpg" width="114" height="115" alt=""></td>
            <td colspan="2">
                <img src="../images/homehealth_09.jpg" width="156" height="115" alt=""></td>
        </tr>
        <tr>
            <td>
                <img src="../images/homehealth_10.jpg" width="87" height="91" alt=""></td>
            <td colspan="2">
                <a href="../product-category/getProductDetail.php?product_id=2000" target="productDetailFrame">
                    <img src="../images/homehealth_11.jpg" width="129" height="91" alt=""></a></td>
            <td colspan="2">
                <a href="../product-category/getProductDetail.php?product_id=2001" target="productDetailFrame">
                    <img src="../images/homehealth_12.jpg" width="125" height="91" alt=""></a></td>
            <td colspan="2">
                <a href="../product-category/getProductDetail.php?product_id=2003" target="productDetailFrame">
                    <img src="../images/homehealth_13.jpg" width="138" height="91" alt=""></a></td>
            <td colspan="2">
                <a href="../product-category/getProductDetail.php?product_id=2004" target="productDetailFrame">
                    <img src="../images/homehealth_14.jpg" width="117" height="91" alt=""></a></td>
            <td>
                <img src="../images/homehealth_15.jpg" width="104" height="91" alt=""></td>
        </tr>
        <tr>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="87" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="57" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="72" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="71" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="54" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="60" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="78" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="65" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="52" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="104" height="1" alt=""></td>
        </tr>
    </table>
</div>
<div id="beverages">
    <table id="__05" width="700" height="415" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="6">
                <img src="../images/beverages_01.jpg" width="700" height="152" alt=""></td>
        </tr>
        <tr>
            <td colspan="4" rowspan="2">
                <img src="../images/beverages_02.jpg" width="502" height="160" alt=""></td>
            <td colspan="2">
                <a href="../product-category/getProductDetail.php?product_id=4005" target="productDetailFrame">
                    <img src="../images/beverages_03.jpg" width="198" height="56" alt=""></a></td>
        </tr>
        <tr>
            <td colspan="2">
                <img src="../images/beverages_04.jpg" width="198" height="104" alt=""></td>
        </tr>
        <tr>
            <td>
                <a href="../product-category/getProductDetail.php?product_id=4003" target="productDetailFrame">
                    <img src="../images/beverages_05.jpg" width="131" height="102" alt=""></a></td>
            <td>
                <a href="../product-category/getProductDetail.php?product_id=4004" target="productDetailFrame">
                    <img src="../images/beverages_06.jpg" width="129" height="102" alt=""></a></td>
            <td>
                <a href="../product-category/getProductDetail.php?product_id=4000" target="productDetailFrame">
                    <img src="../images/beverages_07.jpg" width="132" height="102" alt=""></a></td>
            <td colspan="2">
                <a href="../product-category/getProductDetail.php?product_id=4001" target="productDetailFrame">
                    <img src="../images/beverages_08.jpg" width="124" height="102" alt=""></a></td>
            <td>
                <a href="../product-category/getProductDetail.php?product_id=4002" target="productDetailFrame">
                    <img src="../images/beverages_09.jpg" width="184" height="102" alt=""></a></td>
        </tr>
        <tr>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="131" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="129" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="132" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="110" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="14" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="184" height="1" alt=""></td>
        </tr>
    </table>
</div>
<div id="petfood">
    <table id="__06" width="700" height="415" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="8">
                <img src="../images/petfood_01.jpg" width="700" height="152" alt=""></td>
        </tr>
        <tr>
            <td rowspan="3">
                <img src="../images/petfood_02.jpg" width="139" height="262" alt=""></td>
            <td>
                <a href="../product-category/getProductDetail.php?product_id=5002" target="productDetailFrame">
                    <img src="../images/petfood_03.jpg" width="135" height="55" alt=""></a></td>
            <td colspan="2">
                <a href="../product-category/getProductDetail.php?product_id=5003" target="productDetailFrame">
                    <img src="../images/petfood_04.jpg" width="124" height="55" alt=""></a></td>
            <td colspan="2" rowspan="2">
                <img src="../images/petfood_05.jpg" width="144" height="167" alt=""></td>
            <td colspan="2">
                <a href="../product-category/getProductDetail.php?product_id=5004" target="productDetailFrame">
                    <img src="../images/petfood_06.jpg" width="158" height="55" alt=""></a></td>
        </tr>
        <tr>
            <td colspan="3">
                <img src="../images/petfood_07.jpg" width="259" height="112" alt=""></td>
            <td colspan="2">
                <img src="../images/petfood_08.jpg" width="158" height="112" alt=""></td>
        </tr>
        <tr>
            <td colspan="2">
                <img src="../images/petfood_09.jpg" width="211" height="95" alt=""></td>
            <td colspan="2">
                <a href="../product-category/getProductDetail.php?product_id=5000" target="productDetailFrame">
                    <img src="../images/petfood_10.jpg" width="125" height="95" alt=""></a></td>
            <td colspan="2">
                <a href="../product-category/getProductDetail.php?product_id=5001" target="productDetailFrame">
                    <img src="../images/petfood_11.jpg" width="126" height="95" alt=""></a></td>
            <td>
                <img src="../images/petfood_12.jpg" width="99" height="95" alt=""></td>
        </tr>
        <tr>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="139" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="135" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="76" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="48" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="77" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="67" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="59" height="1" alt=""></td>
            <td>
                <img src="../images/&#x5206;&#x9694;&#x7b26;.gif" width="99" height="1" alt=""></td>
        </tr>
    </table>
</div>

<!-- End Save for Web Slices -->
</body>
</html>